{% extends 'base.html' %}
{% load static %}

{% block title %}
Library Management System
{% endblock %}

{% block content %}

<section class="hero">

    <div class="overlay">

        <div class="container h-100">

            <div class="row align-items-center h-100">

                <div class="col-md-6 text-white">

                    <h1 class="fw-bold display-4">
                        Welcome to <br>
                        Library Management System
                    </h1>

                    <p class="mt-3">
                        Search books, issue, return and manage your
                        reading easily.
                    </p>

                    <a href="{% url 'book_list' %}" class="btn btn-primary btn-lg me-2">
                        Browse Books
                    </a>

                    <a href="{% url 'register' %}" class="btn btn-light btn-lg">
                        Member Registration
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>
<div class="container feature-wrapper">

    <div class="row g-4">


        <div class="col-md-3">
            <a href="{% url 'book_list' %}" class="text-decoration-none">
                <div class="feature-card">

                    <i class="fas fa-book fa-3x text-primary"></i>

                    <h5 class="mt-3">Books Catalog</h5>

                    <p>Explore thousands of books</p>

                </div>
            </a>
        </div>


        <div class="col-md-3">

            <a href="{% url 'my_issued_books' %}" class="text-decoration-none ">

                <div class="feature-card">

                    <i class="fas fa-repeat fa-3x text-warning"></i>

                    <h5 class="mt-3">
                        Issue & Return
                    </h5>

                    <p>
                        Borrow and return books easily
                    </p>

                </div>

            </a>

        </div>


        <div class="col-md-3">
            <a href="{% url 'reserved_books' %}" class="text-decoration-none">
                <div class="feature-card">

                    <i class="fas fa-heart fa-3x text-danger"></i>

                    <h5 class="mt-3">Reservations</h5>

                    <p>Reserve your favourite books</p>

                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="{% url 'due_fines' %}" class="text-decoration-none ">

                <div class="feature-card">
                    <i class="fas fa-clock fa-3x text-success"></i>

                    <h5 class="mt-3">Due Date & Fines</h5>

                    <p>Track dues and manage fines</p>
                </div>

            </a>
        </div>
    </div>

</div>

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Featured Books</h2>

        <a href="{% url 'book_list' %}" class="btn btn-primary">
            View All
        </a>

    </div>

    <div class="row">

        {% for book in books %}

        <div class="col-md-3 mb-3">

            <div class="card shadow h-100 border-0">

                <a href="{% url 'book_detail' book.id %}">

                    <img src="{{ book.image.url }}" class="card-img-top book-img" height="350" alt="{{ book.title }}">

                </a>

                <div class="card-body text-center">

                    <h6>{{ book.title }}</h6>

                    <small>{{ book.author }}</small>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}